.file-explorer-plus {
    &.pin-icon {
        margin-right: 0.2em;
        width: 16px;
        height: 16px;
        align-self: center;
        scale: .75;
        rotate: 45deg;
        opacity: 0.7;
    }

    &.filters-activated-modal {
        display: grid;
        place-items: center;
    }

    table {
        border-collapse: collapse;
    }

    th {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 2px solid var(--text-normal);
    }

    td {
        padding: 3px;
    }

    h2.settings-header {
        font-size: calc(var(--font-ui-medium) * 1.3);
        font-weight: var(--font-bold);
    }
}

&.lucide-pin {
    fill: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    stroke: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
}

